:root {
  --body-bg: hsl(225, 100%, 94%);
  --plan-bg: hsl(225, 100%, 98%);
  --card-bg: hsl(225, 100%, 100%);
  --card-shadow: hsla(228, 87%, 40%, 0.15);

  --title-color: hsl(223, 47%, 23%);
  --description-color: hsl(224, 23%, 55%);
  --cancel-color: hsl(224, 23%, 55%);

  --change-plan-color: hsl(245, 75%, 52%);

  --payment-bg: hsl(245, 75%, 52%);
  --payment-shadow: hsla(245, 75%, 52%, 0.19);

  --change-plan-color--hover: hsla(245, 83%, 68%, 1);
  --payment-bg--hover: hsla(245, 83%, 68%, 1);
  --cancel-color--hover: hsla(223, 47%, 23%, 1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;

  font-family: "Nunito", sans-serif;

  background-color: var(--body-bg);
  background-image: url("./assets/images/pattern-background-mobile.svg");
  background-position: top center;
  background-repeat: no-repeat;
}

.card {
  max-width: 327px;

  border-radius: 20px;
  box-shadow: 0px 40px 40px -20px var(--card-shadow);
  background-color: var(--card-bg);
}

.card__image {
  width: 100%;
  border-radius: 20px 20px 0px 0px;
}

.card__body {
  padding: 3.2rem;
}

.card__title {
  margin-bottom: 1.6rem;
  font-size: 2.2rem;
  line-height: 2.9rem;
  font-weight: 900;
  text-align: center;
  color: var(--title-color);
}

.card__description {
  font-size: 1.5rem;
  line-height: 2.5rem;
  text-align: center;
  color: var(--description-color);
  margin-bottom: 2.4rem;
}

.card__plan {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 1.6rem;
  margin-bottom: 2.4rem;
  border-radius: 11px;

  background-color: var(--plan-bg);
}

.card__type {
  margin-bottom: 3px;
  font-size: 1.4rem;
  font-weight: 900;
  line-height: 1.852rem;
  color: var(--title-color);
}

.card__price {
  font-size: 1.4rem;
  color: var(--description-color);
}

.card__change {
  font-size: 1.3rem;
  font-weight: 700;
  line-height: 1.7rem;

  color: var(--change-plan-color);

  transition: 0.2s;
}

.card__payment {
  width: 100%;

  padding: 1.5rem 0;
  margin-bottom: 2.4rem;
  border: 0;
  border-radius: 11px;
  box-shadow: 0px 20px 20px var(--payment-shadow);

  font-size: 1.5rem;
  font-weight: 900;
  line-height: 1.985rem;

  background-color: var(--payment-bg);
  color: white;

  cursor: pointer;
  transition: background-color 0.2s;
}

.card__cancel {
  display: block;

  font-size: 1.5rem;
  font-weight: 900;
  line-height: 2rem;

  text-align: center;
  text-decoration: none;

  background-color: transparent;
  color: var(--cancel-color);

  transition: color 0.2s;
}

.card__payment--hover:hover {
  background-color: var(--payment-bg--hover);
}

.card__change--hover:hover {
  color: var(--change-plan-color--hover);
  text-decoration: none;
}

.card__cancel--hover:hover {
  color: var(--cancel-color--hover);
}

@media (min-width: 768px) {
  body {
    background-image: url("./assets/images/pattern-background-desktop.svg");
  }

  .card {
    max-width: 450px;
  }

  .card__body {
    padding: 4.8rem 4.8rem 4.8rem 4.5rem;
  }

  .card__title {
    margin-bottom: 1.7rem;
    font-size: 2.8rem;
    line-height: 3.7rem;
  }

  .card__description {
    font-size: 1.6rem;
    line-height: 2.6rem;
    margin-bottom: 2rem;
  }

  .card__plan {
    padding: 2.5rem 2.4rem;
    margin-bottom: 3.2rem;
    border-radius: 11px;
  }

  .card__type {
    margin-bottom: 6px;
    font-size: 1.6rem;
    line-height: 2.1rem;
  }

  .card__price {
    font-size: 1.6rem;
  }

  .card__change {
    font-size: 1.4rem;
    line-height: 1.9rem;
  }

  .card__payment {
    padding: 1.5rem 0;
    margin-bottom: 3.2rem;
    line-height: 2rem;
  }
}
